body{
	height:100%;
	width:100%;
	
	position:relative;
}

html{
	height:100%;
	width:100%;
}

/* Navigation Bar */
.navbar{
	box-shadow:none;
	border:none;

	background-color:rgba(255,255,255,0);
	background-image: linear-gradient(to bottom,#E8E8E8 0,rgba(255, 255, 255, 0.5) 100%);

	text-align:center;
}

.navbar-nav{
	display:inline-block;
	float:none;
	vertical-align:top;
}

.nav>li{
	padding-left:20px;
	padding-right:20px;

}

.nav>li>a:hover{

	font-weight:bold;
}

.nav>li.active{
	background-color:blue;
	background-image:none;
}

@media(min-width:767px) {
    .navbar {
        padding: 20px 0;
        -webkit-transition: background .5s ease-in-out,padding .5s ease-in-out;
        -moz-transition: background .5s ease-in-out,padding .5s ease-in-out;
        transition: background .5s ease-in-out,padding .5s ease-in-out;
    }

    .top-nav-collapse {
        padding: 0;
    }
}


/* Header */

#intro{
	height:100%;
	width:100%;
	
	color:white;
    
	background: url(../img/field.jpg) no-repeat center center; /*fixed*/
	background-size: cover;
}

#title{
	margin-top:400px;
	margin-bottom:50px;
	text-align:center;
	
	font-size: 70px;
}

/* About Me */
#about{
	height:700px;
	padding-top:50px;
	
	background-color:#4E8E0A;
	background-image: linear-gradient(to bottom,#2B400B 0,rgba(255, 255, 255, 0.3) 60%);
}

/* Contact Me */
#contact{
	height:800px;
	padding-top:50px;
	
	background-color:grey;
	background-image: linear-gradient(to bottom,#A3D047 0,#D0B32F 100%);
}