
.navbar{
	box-shadow:none;
	border:none;

	background-color:rgba(255,255,255,0);
	background-image: linear-gradient(to bottom,#E8E8E8 0,rgba(255, 255, 255, 0.5) 100%);

	text-align:center;
}

.navbar-nav{
	display:inline-block;
	float:none;
	vertical-align:top;
}

.nav>li{
	margin-left:20px;
	margin-right:20px;

}

.nav>li:hover{

	font-weight:bold;
}

#intro{
  height:100%;
    
	background: url(img/rift.jpg) no-repeat center center; /*fixed*/
	background-size: cover;

	color:white;
}

#jumboheader{
	margin-top:70px;
	background-color:rgba(255,255,255,0.3);

	color:white;
	text-align:center;
}

#about{
	height:500px;
	
	padding-top:50px;
}

#contact{
	height:800px;
	background-color:grey;
	padding-top:50px;
}